<div class="container__big-card">
    <div class="big-card__photo">
        <img 
        src="https://compass-ssl.xbox.com/assets/fd/a0/fda0b029-a9d3-4780-a842-9c885b19198b.jpg?n=Red-Dead-Redemption-II_Gallery-0_1350x759_02.jpg" 
        alt="" 
        width="300px"
        srcset="">
    </div>

    <div class="big-card__title">
        <h1>
            <a href="#">
                Saiu a nova versao do angular
            </a>
        </h1>
    </div>

    <div class="big-card__description">
        <p>
            <a href="#">
                Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, 
                e vem sendo utilizado desde o século XVI, quando um impançou decalques contendo passagens de Lorem Ipsum, 
                e mais recentemente quando passou a ser integrado a softwares de editoração eletrônica como Aldus PageMaker.
            </a>
        </p>    
    </div>
</div>